@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700');
*{
  margin: 0;
  padding: 0;
}

.about {
    width: 100%;
    /* horizontal/vertical allignment  */
    padding: 100px 0px;
    background-color: cornflowerblue;
    font-family: 'Open Sans Condensed', sans-serif;
    background-image: linear-gradient(to top, blue, #5D7CE6)

 }
 
 .about-text {
     width: 500px;
 }
 
 .main {
     width: 1130px;
     max-width: 95%;
     margin: 0 auto;
     display: flex;
     align-items: center;
     justify-content: space-around;
 }
 
 .about-text h1 {
     color: black;
     font-size: 75px;
     text-transform: capitalize;
     margin-bottom: 20px;
 }

 .about-text h1 button {
  color: #000000;
  font-size: 50px;
  background-image: linear-gradient(to top, blue, #5D7CE6);
  border-radius: 50%;
  border: none;
  padding: 0px 10px;
  transition: background-color 0.3s ease;
}

.about-text h1 button:hover {
  background-color: #000000; 
  color: #fff;
  cursor: pointer
}

 .about-text p {
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px; 
    overflow: hidden;
    white-space: pre-wrap;
    animation: typing 2.5s linear ;
    max-height: 50% ;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }