@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700');
*{
  margin: 0;
  padding: 0;
}

.contact {
    width: 100%;
    padding: 100px 0px;
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: 'Open Sans Condensed', sans-serif;
    background-image: linear-gradient(to top, blue, #5D7CE6)
}

.contact-text {
    width: 500px;
}


.contact h1 {
    color: black;
    font-size: 75px;
    margin-bottom: 20px;
}

.contact-text h1 button {
    color: #000000;
    font-size: 50px;
    background-image: linear-gradient(to top, blue, #5D7CE6);
    border-radius: 50%;
    border: none;
    padding: 0px 10px;
    transition: background-color 0.3s ease;
}

.contact-text h1 button:hover {
    background-color: #000000;
    color: #fff;
    cursor: pointer
}

.contact ul {
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
    overflow: hidden;
    white-space: pre-wrap;
    animation: typing 2.5s linear;
    max-height: 50%;
    list-style-type: square;
    margin-left: 80px;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}